/** CUSTOM FONT **/
@font-face {
	font-family: bauhaus;
	src: url('bh.ttf');
}

/** GLOBAL **/
html, body {
	background-color: #1f1f1f;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: Arial;
	color:white;
}
h1,h2,h3{
	color:white;
}

/** CONTAINER **/
.container{
	position:absolute;
	left: 50%;
	width: 820px;
	height: 100%;
	margin: 0 auto 0 -410px;
	overflow: hidden;
}

/** SEARCHBOX **/
.searchbox, .musicbox{
	font-family: bauhaus;
	position:fixed;
	font-size:30pt;
	left: 50%;
	height: 50px;
	width: 800px;
	padding:20px;
	background-color:#2f2f2f;
	text-align:center;
}
.musicbox{
	z-index:899;
	bottom: 50%;
	margin: 0px auto -20px -420px;
}
.musicbox{
	background-image: linear-gradient(bottom, rgb(47,47,47) 24%, rgb(66,66,66) 69%);
	background-image: -o-linear-gradient(bottom, rgb(47,47,47) 24%, rgb(66,66,66) 69%);
	background-image: -moz-linear-gradient(bottom, rgb(47,47,47) 24%, rgb(66,66,66) 69%);
	background-image: -webkit-linear-gradient(bottom, rgb(47,47,47) 24%, rgb(66,66,66) 69%);
	background-image: -ms-linear-gradient(bottom, rgb(47,47,47) 24%, rgb(66,66,66) 69%);
}
.searchbox{
	z-index:900;
	top: 50%;
	margin: -70px auto 0 -420px;
}	
.searchbox, .lightboxcontent{
	background-image: linear-gradient(bottom, rgb(66,66,66) 24%, rgb(47,47,47) 69%);
	background-image: -o-linear-gradient(bottom, rgb(66,66,66) 24%, rgb(47,47,47) 69%);
	background-image: -moz-linear-gradient(bottom, rgb(66,66,66) 24%, rgb(47,47,47) 69%);
	background-image: -webkit-linear-gradient(bottom, rgb(66,66,66) 24%, rgb(47,47,47) 69%);
	background-image: -ms-linear-gradient(bottom, rgb(66,66,66) 24%, rgb(47,47,47) 69%);
}

/** SEARCHBUTTON **/
#searchbutton{
	background: orange;
	border: none;
	width: 121px;
	height: 30px;
	font-weight:bold;
	font-size:14pt;
	color: #fff;
	margin-top: 8px;
}

/** SEARCHINPUT **/
#inputkeywords{
	height: 30px;
	border: 0px;
	width:360px;
	font-weight:bold;
	color: #000;
	text-indent: 10px;
	outline: none;
}

.container .searchbox .header{
	text-align:center;
}

/** SEARCHBOX COLUMNS **/
.container .columns-3-1{
	float: left;
	margin-left: 20px;
}
.container .columns-3-2{
	float: left;
	margin-top: 12px;
	margin-left: 35px;
}	
.container .columns-3-3{
	float:left;
	margin-top: 4px;
	 margin-left:10px;
}

/** RESULTBOX **/
.resultbox{
	margin-top:110px;
	margin-bottom:110px;
	width: 760px;
	padding: 0 20px 0 20px;
	display:none;
}
.resultbox li{
	padding:6px 0 0 0; 
	margin:0;
	list-style-type: none;
	border-bottom: 1px solid #606060;
	height: 30px;
	cursor:pointer;
}
.resultbox ul, .resultbox li{
	padding-left:10px; 
	margin:0;
	list-style-type: none;
}
.sliderbox{
	position:absolute;
	top: 100px;
	right: 20px;
	width: 18px;
	background-color: #292929;
	padding: 10px 0 10px 0;
	display:none;
	outline: none;
}
.artistinfo{
	border:none;
	display:none;
	min-width:360px;
	max-width:1000px;
	width:auto;
	height:auto;
	min-height:160px;
	max-height:1000px;
	margin: 0px 0 0 -200px;
	position:absolute;
	top:30px;
	left:50%;
	z-index:999;
	background-color: #404040;
	padding:20px;
}
.artistinfo .rightcontainer{
	float:left; 
	margin-left:20px;
}
.artistinfo .leftcontainer{
	float:left; 
	margin-bottom: 20px;
}
.artistinfo .artistimage{
	margin-top: 0px; 
	width:126px;
}	
.artistinfo .songcontainer .album{
	clear:both; 
	width:100%; 
	margin-top: 1px;
}
.artistinfo .songcontainer .album .albumleft{
	float:left;
}
.artistinfo .songcontainer .album .albumright{
	float:right; 
	text-align:right;
}
.artistinfo .songcontainer .album .youtubeimage{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:19px;
}
.albumtitle{
	float:left;
	margin:0px; 
	padding:0px; 
	text-align:center
}
.albumcontent{
	float:left; 
	margin:0px; 
	padding:0px; 
}
.artistinfo ul{
	margin:0 0 0 0;
	padding:0px;
}
.artistinfo li{
	margin:0px;
	padding:0px;
	height: 20px;
	list-style-type:none;
}
.albumheader{
	float:left; 
	width:146px;
}
.albumbutton{
	float:left;
	width:20px;
	height:20px;
	text-align:center;
	background-color:#292929;
	vertical-align:middle;
	cursor:pointer;
}
.albumnamecontainer{
	overflow:hidden;
	white-space:nowrap; 
	float:left;
}
.albumname{
	width:10000px; 
	position:relative;
}
.albumcontainer{
	clear:both; 
	overflow-x:hidden;
	overflow-y:scroll;	
	height:auto;
	margin-right:-18px;
}
.songcontainer{
	width:10000px; 
	position:relative;
}
.slider{
	position:absolute;
	top: 138px;
	right: 20px;
	width: 18px;
	display:none;
	outline: none;
}
#ruler{
	visibility: hidden; 
	white-space: nowrap;
	width:auto;
	position:absolute;
}

/** LIGHTBOX **/
.lightbox{
	display:none;
	border:none;
	width:100%;
	height:100%;
	background-color: #000;
	opacity: 0.7;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
}
.lightboxcontent{
	border:none;
	display:none;
	width: 70px;
	height: 20px;
	background-color: #404040;
	padding: 20px;
	position:fixed;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -55px;
	z-index:999;
}
a.close{
	text-align:right; 
	position:absolute; 
	color:white; 
	right:25px;
}

/** COMMON **/
.orange{
	color: orange;
}
.gray{
	color: #fff;
	margin-left:2px;
}
.borders, .ui-autocomplete, .albumbutton{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.fclear{
	clear:both;
}

/** JQUERY UI **/
.ui-autocomplete{
	width: 343px;
	overflow: hidden;
	height: auto;
	max-height:200px;
	background-color:white;
	padding:5px 0 5px 0;
	margin:0px;
	font-size:9pt;
	border-top-right-radius: 0px;
 	-moz-border-radius-topright:0x;
 	-webkit-border-top-right-radius:0px;
	border-top-left-radius: 0px;
 	-moz-border-radius-topleft:0x;
 	-webkit-border-top-left-radius:0px;
}

.ui-autocomplete li{
	font-size:12pt;
	font-weight:bold;
	list-style-type: none;
	background-color:white;
	color:black;
	width:343px;
	margin:0px;
}
.ui-autocomplete li a{
	width:100%;
	display:block;
	padding: 0 10px 0 10px;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active{
	background-color:#AAAAAA;
}
